.container {
    margin-top: 50px;
  }
  
  .table-responsive {
    max-height: 500px;
    overflow: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ddd;;
  }
  
  th {
    text-align: left;
    padding: 8px;
    color: #fff;
  }
  
  td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .btn {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #197f94;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #329ab7;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  