<div>
    <div >
      <div class="col">
        <div class="card">
          <img src="assets/funny.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Funny Books</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/historic.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Historic Books</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/mysterious.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mysterious Books</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="assets/comic.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Comics</h5>
          </div>
        </div>
      </div>
    </div>
    </div>
